In [149]:
import sqlite3

In [150]:
%run "./Utils.ipynb"

In [151]:
connection, cursor = get_connection()

In [152]:
print("Testing the connection!")

cursor.execute("SELECT SQLITE_VERSION();")
print("Sqlite3 Version =", cursor.fetchall()[0][0])

Testing the connection!
Sqlite3 Version = 3.43.2

In [153]:
table = """
    CREATE TABLE IF NOT EXISTS nft_transactions (
       transaction_id TEXT PRIMARY KEY,
       contract_address TEXT,
       token_id TEXT,
       buyer_address TEXT,
       seller_address TEXT,
       price REAL,
       chain_id TEXT,
       timestamp DATETIME
   );
"""

cursor.execute(table)
connection.commit()

In [155]:
query = """
    SELECT COUNT(1) FROM nft_transactions;
"""

print("Total Records =", cursor.execute(query).fetchall()[0][0])

Total Records = 0

In [156]:
connection.close()